.btn {
  background-color: goldenrod;
  border: 1px black solid;
  border-radius: 20px;
  padding: 20px 20px;
  font-size: 2rem;
  transition-duration: 0.3s;
  animation-name: wiggle;
  animation-delay: 1s;
  animation-duration: 0.5s;
 
}

.btn:hover:not(:disabled) {
  background-color: rgb(219, 186, 101);
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.btn:active:not(:disabled) {
  transform: scale(0.95);
}

.btn:disabled {
  opacity: 0.6;
  background-color: rgb(255, 225, 151);
  cursor: not-allowed;
  background-image: url("/cracked.png");
  background-size: cover; 



}